interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://avwx.rest/api/metar/KDEN?options=info,translate
  response:
    body: {string: "{\n  \"Altimeter\": \"3009\", \n  \"Cloud-List\": [\n    [\n \
        \     \"FEW\", \n      \"100\"\n    ]\n  ], \n  \"Dewpoint\": \"M04\", \n\
        \  \"Flight-Rules\": \"VFR\", \n  \"Info\": {\n    \"City\": \"Denver\", \n\
        \    \"Country\": \"USA\", \n    \"Elevation\": \"1656\", \n    \"IATA\":\
        \ \"DEN\", \n    \"ICAO\": \"KDEN\", \n    \"Latitude\": \"39.86165639\",\
        \ \n    \"Longitude\": \"-104.6731775\", \n    \"Name\": \"International Airport\"\
        , \n    \"Priority\": \"0\", \n    \"State\": \"CO\"\n  }, \n  \"Meta\": {\n\
        \    \"Cache-Timestamp\": \"Wed, 14 Feb 2018 03:14:11 GMT\", \n    \"Timestamp\"\
        : \"Wed, 14 Feb 2018 03:14:11 GMT\"\n  }, \n  \"Other-List\": [], \n  \"Raw-Report\"\
        : \"KDEN 140253Z 17013KT 10SM FEW100 03/M04 A3009 RMK AO2 SLP191 T00281044\
        \ 51009\", \n  \"Remarks\": \"RMK AO2 SLP191 T00281044 51009\", \n  \"Remarks-Info\"\
        : {\n    \"Dew-Decimal\": \"-4.4\", \n    \"Temp-Decimal\": \"2.8\"\n  },\
        \ \n  \"Runway-Vis-List\": [], \n  \"Station\": \"KDEN\", \n  \"Temperature\"\
        : \"03\", \n  \"Time\": \"140253Z\", \n  \"Translate\": {\n    \"Altimeter\"\
        : \"30.09inHg (1019hPa)\", \n    \"Clouds\": \"Few clouds at 10000ft - Reported\
        \ AGL\", \n    \"Dewpoint\": \"-04C (25F)\", \n    \"Other\": \"\", \n   \
        \ \"Remarks\": {\n      \"51009\": \"3-hour pressure difference: +/- 0.9 mb\
        \ - Increasing, then steady\", \n      \"AO2\": \"Automated with precipitation\
        \ sensor\", \n      \"SLP191\": \"Sea level pressure: 1019.1 hPa\", \n   \
        \   \"T00281044\": \"Temperature 2.8\\u00b0C and dewpoint -4.4\\u00b0C\"\n\
        \    }, \n    \"Temperature\": \"03C (37F)\", \n    \"Visibility\": \"10sm\
        \ (16.1km)\", \n    \"Wind\": \"S-170 at 13kt\"\n  }, \n  \"Units\": {\n \
        \   \"Altimeter\": \"inHg\", \n    \"Altitude\": \"ft\", \n    \"Temperature\"\
        : \"C\", \n    \"Visibility\": \"sm\", \n    \"Wind-Speed\": \"kt\"\n  },\
        \ \n  \"Visibility\": \"10\", \n  \"Wind-Direction\": \"170\", \n  \"Wind-Gust\"\
        : \"\", \n  \"Wind-Speed\": \"13\", \n  \"Wind-Variable-Dir\": []\n}\n"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
