interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=denver%2C+co&format=json
  response:
    body: {string: "[{\"place_id\":\"179488660\",\"licence\":\"Data \xA9 OpenStreetMap\
        \ contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\/copyright\",\"\
        osm_type\":\"relation\",\"osm_id\":\"253750\",\"boundingbox\":[\"39.6143154\"\
        ,\"39.9142087\",\"-105.1098845\",\"-104.5996889\"],\"lat\":\"39.7391536\"\
        ,\"lon\":\"-104.9847034\",\"display_name\":\"Denver, Denver County, Colorado,\
        \ United States of America\",\"class\":\"place\",\"type\":\"city\",\"importance\"\
        :0.36372865827807,\"icon\":\"https:\\/\\/nominatim.openstreetmap.org\\/images\\\
        /mapicons\\/poi_place_city.p.20.png\"},{\"place_id\":\"179890478\",\"licence\"\
        :\"Data \xA9 OpenStreetMap contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\\
        /copyright\",\"osm_type\":\"relation\",\"osm_id\":\"1411339\",\"boundingbox\"\
        :[\"39.6143154\",\"39.9142087\",\"-105.1098845\",\"-104.5996889\"],\"lat\"\
        :\"39.7348381\",\"lon\":\"-104.9653271\",\"display_name\":\"Denver County,\
        \ Colorado, United States of America\",\"class\":\"boundary\",\"type\":\"\
        administrative\",\"importance\":0.36372865827807,\"icon\":\"https:\\/\\/nominatim.openstreetmap.org\\\
        /images\\/mapicons\\/poi_boundary_administrative.p.20.png\"},{\"place_id\"\
        :\"64055013\",\"licence\":\"Data \xA9 OpenStreetMap contributors, ODbL 1.0.\
        \ http:\\/\\/www.openstreetmap.org\\/copyright\",\"osm_type\":\"way\",\"osm_id\"\
        :\"7690716\",\"boundingbox\":[\"38.67294\",\"38.6737758\",\"-104.7033917\"\
        ,\"-104.702767\"],\"lat\":\"38.67294\",\"lon\":\"-104.702767\",\"display_name\"\
        :\"Denver, Fountain, El Paso County, Colorado, 8017, United States of America\"\
        ,\"class\":\"highway\",\"type\":\"service\",\"importance\":0.21875},{\"place_id\"\
        :\"17917360\",\"licence\":\"Data \xA9 OpenStreetMap contributors, ODbL 1.0.\
        \ http:\\/\\/www.openstreetmap.org\\/copyright\",\"osm_type\":\"node\",\"\
        osm_id\":\"1649869372\",\"boundingbox\":[\"5.3427494\",\"5.3428494\",\"-72.3960269\"\
        ,\"-72.3959269\"],\"lat\":\"5.3427994\",\"lon\":\"-72.3959769\",\"display_name\"\
        :\"Denver, Calle 16, Yopal, Casanare, 850001, Colombia\",\"class\":\"tourism\"\
        ,\"type\":\"hotel\",\"importance\":0.201,\"icon\":\"https:\\/\\/nominatim.openstreetmap.org\\\
        /images\\/mapicons\\/accommodation_hotel2.p.20.png\"}]"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/39.7391536,-104.9847034/forecast
  response:
    body: {string: "{\n    \"location\": \"/points/39.7392,-104.9847/forecast\",\n\
        \    \"correlationId\": \"3512e6a5-7345-406b-b0e7-823fbcc4e370\",\n    \"\
        title\": \"Adjusting Precision Of Point Coordinate\",\n    \"type\": \"https://api.weather.gov/problems/AdjustPointPrecision\"\
        ,\n    \"status\": 301,\n    \"detail\": \"The precision of latitude/longitude\
        \ points is limited to 4 decimal digits for efficiency. The location attribute\
        \ contains your request mapped to the nearest supported point. If your client\
        \ supports it, you will be redirected.\",\n    \"instance\": \"https://api.weather.gov/requests/3512e6a5-7345-406b-b0e7-823fbcc4e370\"\
        \n}"}
    headers:
      Content-Type: [application/problem+json]
      Location: ['/points/39.7392,-104.9847/forecast']
      X-Correlation-ID: [3512e6a5-7345-406b-b0e7-823fbcc4e370]
      X-Server-ID: [vm-bldr-nids-apiapp31.ncep.noaa.gov]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/39.7392,-104.9847/forecast
  response:
    body: {string: "{\n    \"@context\": [\n        \"https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld\"\
        ,\n        {\n            \"wx\": \"https://api.weather.gov/ontology#\",\n\
        \            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n       \
        \     \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\"\
        : \"https://api.weather.gov/ontology#\"\n        }\n    ],\n    \"type\":\
        \ \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n      \
        \  \"coordinates\": [\n            -104.9847,\n            39.7392\n     \
        \   ]\n    },\n    \"properties\": {\n        \"updated\": \"2017-11-30T23:09:54+00:00\"\
        ,\n        \"units\": \"us\",\n        \"forecastGenerator\": \"BaselineForecastGenerator\"\
        ,\n        \"generatedAt\": \"2017-12-01T01:53:03+00:00\",\n        \"periods\"\
        : [\n            {\n                \"number\": 1,\n                \"name\"\
        : \"Tonight\",\n                \"startTime\": \"2017-11-30T18:00:00-07:00\"\
        ,\n                \"endTime\": \"2017-12-01T06:00:00-07:00\",\n         \
        \       \"isDaytime\": false,\n                \"temperature\": 34,\n    \
        \            \"temperatureUnit\": \"F\",\n                \"temperatureTrend\"\
        : null,\n                \"windSpeed\": \"6 mph\",\n                \"windDirection\"\
        : \"WSW\",\n                \"icon\": \"https://api.weather.gov/icons/land/night/few?size=medium\"\
        ,\n                \"shortForecast\": \"Mostly Clear\",\n                \"\
        detailedForecast\": \"Mostly clear, with a low around 34. West southwest wind\
        \ around 6 mph.\"\n            },\n            {\n                \"number\"\
        : 2,\n                \"name\": \"Friday\",\n                \"startTime\"\
        : \"2017-12-01T06:00:00-07:00\",\n                \"endTime\": \"2017-12-01T18:00:00-07:00\"\
        ,\n                \"isDaytime\": true,\n                \"temperature\":\
        \ 62,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\"\
        : \"falling\",\n                \"windSpeed\": \"6 mph\",\n              \
        \  \"windDirection\": \"NNW\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/sct?size=medium\"\
        ,\n                \"shortForecast\": \"Mostly Sunny\",\n                \"\
        detailedForecast\": \"Mostly sunny. High near 62, with temperatures falling\
        \ to around 52 in the afternoon. North northwest wind around 6 mph.\"\n  \
        \          },\n            {\n                \"number\": 3,\n           \
        \     \"name\": \"Friday Night\",\n                \"startT[...]
