interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Fake%2C+FK&f=json&maxLocations=1
  response:
    body: {string: '{"spatialReference":{"wkid":4326,"latestWkid":4326},"candidates":[{"address":"Fake,
        Yunnan","location":{"x":103.31328000000008,"y":24.309450000000027},"score":86.670000000000002,"attributes":{},"extent":{"xmin":103.30328000000007,"ymin":24.299450000000025,"xmax":103.32328000000008,"ymax":24.319450000000028}}]}'}
    headers:
      Content-Type: [text/plain;charset=UTF-8]
      ETag: [e506c91f]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/24.309450000000027,103.31328000000008/forecast
  response:
    body: {string: "{\n    \"correlationId\": \"c7cf4a4e-acfd-4405-bbab-d6d51b5e2713\"\
        ,\n    \"title\": \"Adjusting Precision Of Point Coordinate\",\n    \"type\"\
        : \"https://api.weather.gov/problems/AdjustPointPrecision\",\n    \"status\"\
        : 301,\n    \"detail\": \"The precision of latitude/longitude points is limited\
        \ to 4 decimal digits for efficiency. The location attribute contains your\
        \ request mapped to the nearest supported point. If your client supports it,\
        \ you will be redirected.\",\n    \"instance\": \"https://api.weather.gov/requests/c7cf4a4e-acfd-4405-bbab-d6d51b5e2713\"\
        \n}"}
    headers:
      Content-Type: [application/problem+json]
      Location: ['/points/24.3095,103.3133/forecast']
      X-Correlation-ID: [c7cf4a4e-acfd-4405-bbab-d6d51b5e2713]
      X-Server-ID: [vm-lnx-nids-apiapp19.ncep.noaa.gov]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/24.3095,103.3133/forecast
  response:
    body: {string: "{\n    \"correlationId\": \"296c2a6c-c876-4cef-b52d-776085339d18\"\
        ,\n    \"title\": \"Data Unavailable For Requested Point\",\n    \"type\"\
        : \"https://api.weather.gov/problems/InvalidPoint\",\n    \"status\": 404,\n\
        \    \"detail\": \"Unable to provide data for requested point 24.3095,103.3133\"\
        ,\n    \"instance\": \"https://api.weather.gov/requests/296c2a6c-c876-4cef-b52d-776085339d18\"\
        \n}"}
    headers:
      Content-Type: [application/problem+json]
      X-Correlation-ID: [296c2a6c-c876-4cef-b52d-776085339d18]
      X-Server-ID: [vm-lnx-nids-apiapp8.ncep.noaa.gov]
    status: {code: 404, message: Not Found}
version: 1
