interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations/KFAKE/observations/latest
  response:
    body:
      string: "{\n    \"correlationId\": \"20ed3694\",\n    \"title\": \"Not Found\",\n
        \   \"type\": \"https://api.weather.gov/problems/NotFound\",\n    \"status\":
        404,\n    \"detail\": \"Not Found\",\n    \"instance\": \"https://api.weather.gov/requests/20ed3694\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 20ed3694
      X-Edge-Request-ID:
      - ba25d54
      X-Server-ID:
      - vm-lnx-nids-apiapp1.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
