interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/products/locations/FAKE/types
  response:
    body: {string: "{\n    \"correlationId\": \"5bcd1762-c588-46ce-a4aa-41a2f67c00ff\"\
        ,\n    \"title\": \"Unexpected Problem\",\n    \"type\": \"https://api.weather.gov/problems/UnexpectedProblem\"\
        ,\n    \"status\": 500,\n    \"detail\": \"An unexpected problem has occurred.\"\
        ,\n    \"instance\": \"https://api.weather.gov/requests/5bcd1762-c588-46ce-a4aa-41a2f67c00ff\"\
        \n}"}
    headers:
      Content-Type: [application/problem+json]
      X-Correlation-ID: [5bcd1762-c588-46ce-a4aa-41a2f67c00ff]
      X-Server-ID: [vm-bldr-nids-apiapp29.ncep.noaa.gov]
    status: {code: 500, message: Internal Server Error}
version: 1
