interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/products/locations/FAKE/types
  response:
    body: {string: "{\n    \"correlationId\": \"5df2f8df-5664-447d-8749-3ca9c52fa1a9\"\
        ,\n    \"title\": \"Unexpected Problem\",\n    \"type\": \"https://api.weather.gov/problems/UnexpectedProblem\"\
        ,\n    \"status\": 500,\n    \"detail\": \"An unexpected problem has occurred.\"\
        ,\n    \"instance\": \"https://api.weather.gov/requests/5df2f8df-5664-447d-8749-3ca9c52fa1a9\"\
        \n}"}
    headers:
      Content-Type: [application/problem+json]
      X-Correlation-ID: [5df2f8df-5664-447d-8749-3ca9c52fa1a9]
      X-Server-ID: [vm-lnx-nids-apiapp7.ncep.noaa.gov]
    status: {code: 500, message: Internal Server Error}
version: 1
