interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/stations/KFAKE
  response:
    body:
      string: "{\n    \"correlationId\": \"2dfa643d\",\n    \"title\": \"Unexpected
        Problem\",\n    \"type\": \"https://api.weather.gov/problems/UnexpectedProblem\",\n
        \   \"status\": 500,\n    \"detail\": \"An unexpected problem has occurred.\",\n
        \   \"instance\": \"https://api.weather.gov/requests/2dfa643d\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 2dfa643d
      X-Edge-Request-ID:
      - a219ca
      X-Server-ID:
      - vm-lnx-nids-apiapp6.ncep.noaa.gov
    status:
      code: 500
      message: Internal Server Error
version: 1
