interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/offices/FAKE
  response:
    body:
      string: "{\n    \"correlationId\": \"2632f3ca\",\n    \"title\": \"Office Does
        Not Exist\",\n    \"type\": \"https://api.weather.gov/problems/InvalidOffice\",\n
        \   \"status\": 404,\n    \"detail\": \"Office FAKE does not exist\",\n    \"instance\":
        \"https://api.weather.gov/requests/2632f3ca\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 2632f3ca
      X-Edge-Request-ID:
      - f695db9
      X-Server-ID:
      - vm-lnx-nids-apiapp3.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
