interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/products/types/AFD/locations/BOU
  response:
    body: {string: "{\n    \"@context\": [\n        \"https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld\"\
        ,\n        {\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\
        \n        }\n    ],\n    \"type\": \"FeatureCollection\",\n    \"features\"\
        : [\n        {\n            \"@id\": \"https://api.weather.gov/products/3bc5d044-3325-40e2-8bbd-3c32471473c0\"\
        ,\n            \"id\": \"3bc5d044-3325-40e2-8bbd-3c32471473c0\",\n       \
        \     \"wmoCollectiveId\": \"FXUS65\",\n            \"issuingOffice\": \"\
        KBOU\",\n            \"issuanceTime\": \"2017-11-30T22:32:00+00:00\",\n  \
        \          \"productCode\": \"AFD\",\n            \"productName\": \"Area\
        \ Forecast Discussion\"\n        },\n        {\n            \"@id\": \"https://api.weather.gov/products/daa10221-bcd0-4222-9526-ec7d6ca8e532\"\
        ,\n            \"id\": \"daa10221-bcd0-4222-9526-ec7d6ca8e532\",\n       \
        \     \"wmoCollectiveId\": \"FXUS65\",\n            \"issuingOffice\": \"\
        KBOU\",\n            \"issuanceTime\": \"2017-11-30T22:32:00+00:00\",\n  \
        \          \"productCode\": \"AFD\",\n            \"productName\": \"Area\
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/products/3bc5d044-3325-40e2-8bbd-3c32471473c0
  response:
    body: {string: "{\n    \"@context\": {\n        \"@vocab\": \"https://api.weather.gov/ontology#\"\
        \n    },\n    \"@id\": \"https://api.weather.gov/products/3bc5d044-3325-40e2-8bbd-3c32471473c0\"\
        ,\n    \"id\": \"3bc5d044-3325-40e2-8bbd-3c32471473c0\",\n    \"wmoCollectiveId\"\
        : \"FXUS65\",\n    \"issuingOffice\": \"KBOU\",\n    \"issuanceTime\": \"\
        2017-11-30T22:32:00+00:00\",\n    \"productCode\": \"AFD\",\n    \"productName\"\
        : \"Area Forecast Discussion\",\n    \"productText\": \"\\n192 \\nFXUS65 KBOU\
        \ 302232\\nAFDBOU\\n\\nArea Forecast Discussion\\nNational Weather Service\
        \ Denver/Boulder CO\\n332 PM MST Thu Nov 30 2017\\n\\n.SHORT TERM...(This\
        \ evening through Friday)\\nIssued at 331 PM MST Thu Nov 30 2017\\n\\nQuasi-zonal\
        \ flow aloft and a dry airmass will pretty much \\nremain place overnight.\
        \ Mtn top westerly winds are to begin\\nincreasing in speed this evening with\
        \ an upstream jet maxima\\nnearing th[...]
